@font-face {font-family: 'avenir_black';src: url('css/fontes/avenir_black-webfont.woff2') format('woff2'), url('css/fontes/avenir_black-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'avenir_book';src: url('css/fontes/avenirltstd-book-webfont.woff2') format('woff2'), url('css/fontes/avenirltstd-book-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'avenir_bold';src: url('css/fontes/avenir-next-bold-webfont.woff2') format('woff2'), url('css/fontes/avenir-next-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'avenir_demi';src: url('css/fontes/avenir-next-demibold-webfont.woff2') format('woff2'), url('css/fontes/avenir-next-demibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'avenir_medium';src: url('css/fontes/avenir-next-medium-webfont.woff2') format('woff2'), url('css/fontes/avenir-next-medium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'avenir_roman';src: url('css/fontes/avenir-roman-webfont.woff2') format('woff2'), url('css/fontes/avenir-roman-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'din_bold';src: url('css/fontes/din-bold-webfont.woff2') format('woff2'), url('css/fontes/din-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'icomoon';src:  url('css/fontes/icomoon.eot?hj3kxv');src:  url('css/fontes/icomoon.eot?hj3kxv#iefix') format('embedded-opentype'),url('css/fontes/icomoon.ttf?hj3kxv') format('truetype'),url('css/fontes/icomoon.woff?hj3kxv') format('woff'),url('css/fontes/icomoon.svg?hj3kxv#icomoon') format('svg');font-weight: normal;font-style: normal;font-display: block;}[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon' !important;speak: never;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-seta_dir:before {content: "\e900";}
.icon-seta_esq:before {content: "\e901";}
.icon-facebook:before {content: "\e908";}
.icon-instagram:before {content: "\e90c";}
.icon-linkedin:before {content: "\e90d";}
/*-------------------------------- ! FONTES !-----------------------------*/
/*------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap);font-family: Roboto, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap);font-family: Montserrat, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&display=swap);font-family: Open Sans, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap);font-family: Lato, sans-serif;*/
/*------------------------------------------------------------------------*/
/*-------------------------------- ! RESET !------------------------------*/
/*------------------------------------------------------------------------*/
html,textarea,input{font-family:inherit}ul{list-style:none;list-style-type:none}h1,h2,h3,h4,h5,h6,p{font-weight:400;margin:0}h1{font-size:200%}h2{font-size:150%}h6,h5,h4,h3{font-size:100%}a img{border:none;text-decoration:none}img{border:none}button{cursor:pointer}.clear{clear:both;height:0;overflow:hidden}body,div,span,object,iframe,pre,a,font,img,table,tbody,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:400;font-style:normal;font-size:100%}:focus{outline:0}p{margin-top:10px}h1,h2,h3,h4,h5,h6{margin:0;padding:0}a{cursor:pointer}
/*------------------------------------------------------------------------*/
/*-------------------------------- ! SKELETON !---------------------------*/
/*------------------------------------------------------------------------
						   .container { background:#D8D8D8 }
				  .container .colunas { background:#AAAAAA }
		 .container .colunas .colunas { background:#7F7F7F;}
.container .colunas .colunas .colunas { background:#393939;}
*/
.container{position:relative;margin:0 auto;padding:0}.container .colunas{float:left;display:inline;margin-left:10px;margin-right:10px}.colunas.alpha{margin-left:0}.colunas.omega{margin-right:0}@media only screen and (min-width:1240px){.container{width:1200px}.container .col-1.colunas{width:40px}.container .col-2.colunas{width:100px}.container .col-3.colunas{width:160px}.container .col-4.colunas{width:220px}.container .col-5.colunas{width:280px}.container .col-6.colunas{width:340px}.container .col-7.colunas{width:400px}.container .col-8.colunas{width:460px}.container .col-9.colunas{width:520px}.container .col-10.colunas{width:580px}.container .col-11.colunas{width:640px}.container .col-12.colunas{width:700px}.container .col-13.colunas{width:760px}.container .col-14.colunas{width:820px}.container .col-15.colunas{width:880px}.container .col-16.colunas{width:940px}.container .col-17.colunas{width:1000px}.container .col-18.colunas{width:1060px}.container .col-19.colunas{width:1120px}.container .col-20.colunas{width:1180px}.container .colunas.um-terco{width:380px}.container .colunas.dois-tercos{width:780px}.container .colunas.off-1{padding-left:60px}.container .colunas.off-2{padding-left:120px}.container .colunas.off-3{padding-left:180px}.container .colunas.off-4{padding-left:240px}.container .colunas.off-5{padding-left:300px}.container .colunas.off-6{padding-left:360px}.container .colunas.off-7{padding-left:420px}.container .colunas.off-8{padding-left:480px}.container .colunas.off-9{padding-left:540px}.container .colunas.off-10{padding-left:600px}.container .colunas.off-11{padding-left:660px}.container .colunas.off-12{padding-left:720px}.container .colunas.off-13{padding-left:780px}.container .colunas.off-14{padding-left:840px}.container .colunas.off-15{padding-left:900px}.container .colunas.off-16{padding-left:960px}.container .colunas.off-17{padding-left:1020px}.container .colunas.off-18{padding-left:1080px}.container .colunas.off-19{padding-left:1140px}.container .colunas.off-20{padding-left:1200px}}@media only screen and (min-width:980px) and (max-width:1239px){.container{width:960px}.container .col-1.colunas{width:28px}.container .col-2.colunas{width:76px}.container .col-3.colunas{width:124px}.container .col-4.colunas{width:172px}.container .col-5.colunas{width:220px}.container .col-6.colunas{width:268px}.container .col-7.colunas{width:316px}.container .col-8.colunas{width:364px}.container .col-9.colunas{width:412px}.container .col-10.colunas{width:460px}.container .col-11.colunas{width:508px}.container .col-12.colunas{width:556px}.container .col-13.colunas{width:604px}.container .col-14.colunas{width:652px}.container .col-15.colunas{width:700px}.container .col-16.colunas{width:748px}.container .col-17.colunas{width:796px}.container .col-18.colunas{width:844px}.container .col-19.colunas{width:892px}.container .col-20.colunas{width:940px}.container .colunas.um-terco{width:300px}.container .colunas.dois-tercos{width:620px}.container .colunas.off-1{padding-left:48px}.container .colunas.off-2{padding-left:96px}.container .colunas.off-3{padding-left:144px}.container .colunas.off-4{padding-left:192px}.container .colunas.off-5{padding-left:240px}.container .colunas.off-6{padding-left:288px}.container .colunas.off-7{padding-left:336px}.container .colunas.off-8{padding-left:384px}.container .colunas.off-9{padding-left:432px}.container .colunas.off-10{padding-left:480px}.container .colunas.off-11{padding-left:528px}.container .colunas.off-12{padding-left:576px}.container .colunas.off-13{padding-left:624px}.container .colunas.off-14{padding-left:672px}.container .colunas.off-15{padding-left:720px}.container .colunas.off-16{padding-left:768px}.container .colunas.off-17{padding-left:816px}.container .colunas.off-18{padding-left:864px}.container .colunas.off-19{padding-left:912px}}@media only screen and (max-width:979px){.container{width:780px}.container .col-1.colunas{width:58px}.container .col-2.colunas{width:136px}.container .col-3.colunas{width:214px}.container .col-4.colunas{width:292px}.container .col-5.colunas{width:370px}.container .col-6.colunas{width:448px}.container .col-7.colunas{width:526px}.container .col-8.colunas{width:604px}.container .col-9.colunas{width:682px}.container .col-10.colunas,.container .col-11.colunas,.container .col-12.colunas,.container .col-13.colunas,.container .col-14.colunas,.container .col-15.colunas,.container .col-16.colunas,.container .col-17.colunas,.container .col-18.colunas,.container .col-19.colunas,.container .col-20.colunas{width:760px}.container .colunas.um-terco{width:370px}.container .colunas.dois-tercos{width:760px}}@media only screen and (min-width:521px) and (max-width:800px){.container{width:480px}.container .col-1.colunas{width:140px}.container .col-2.colunas{width:220px}.container .col-10.colunas,.container .col-11.colunas,.container .col-12.colunas,.container .col-13.colunas,.container .col-14.colunas,.container .col-15.colunas,.container .col-16.colunas,.container .col-17.colunas,.container .col-18.colunas,.container .col-19.colunas,.container .col-20.colunas,.container .col-3.colunas,.container .col-4.colunas,.container .col-5.colunas,.container .col-6.colunas,.container .col-7.colunas,.container .col-8.colunas,.container .col-9.colunas,.container .colunas.dois-tercos,.container .colunas.um-terco{width:460px}}@media only screen and (max-width:520px){.container{width:100%}.container .col-1.colunas,.container .col-10.colunas,.container .col-11.colunas,.container .col-12.colunas,.container .col-13.colunas,.container .col-14.colunas,.container .col-15.colunas,.container .col-16.colunas,.container .col-17.colunas,.container .col-18.colunas,.container .col-19.colunas,.container .col-2.colunas,.container .col-20.colunas,.container .col-3.colunas,.container .col-4.colunas,.container .col-5.colunas,.container .col-6.colunas,.container .col-7.colunas,.container .col-8.colunas,.container .col-9.colunas,.container .colunas.dois-tercos,.container .colunas.um-terco{width:100%;box-sizing:border-box;margin-left:0;margin-right:0;padding:0 10px}}.u-full-width{width:100%;box-sizing:border-box}.u-max-full-width{max-width:100%;box-sizing:border-box}.u-pull-right{float:right}.u-pull-left{float:left}
/*------------------------------------------------------------------------*/
/*---------------------------- ! COOKIES !--------------------------------*/
.cookieConsentContainer{z-index:999;width:350px;min-height:20px;box-sizing:border-box;padding:30px 30px 30px 30px;background:#232323;overflow:hidden;position:fixed;bottom:30px;right:30px;display:none}.cookieConsentContainer .cookieTitle a{font-family:OpenSans,arial,sans-serif;color:#fff;font-size:22px;line-height:20px;display:block}.cookieConsentContainer .cookieDesc p{margin:0;padding:0;font-family:OpenSans,arial,sans-serif;color:#fff;font-size:13px;line-height:20px;display:block;margin-top:10px}.cookieConsentContainer .cookieDesc a{font-family:OpenSans,arial,sans-serif;color:#fff;text-decoration:underline}
.cookieConsentContainer .cookieButton a{display:inline-block;color:#fff;font-size:14px;font-weight:700;margin-top:14px;background:#000;box-sizing:border-box;padding:15px 24px;text-align:center;transition:background .3s}
.cookieConsentContainer .cookieButton a:hover{cursor:pointer;background:#3e9b67}
@media (max-width:980px){.cookieConsentContainer{bottom:0!important;left:0!important;width:100%!important}}
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*---------------------------- ! ADICIONAIS !-----------------------------*/
/*------------------------------------------------------------------------*/
/*.mt10 { margin-top: 10px!important }*/
/*.mt20 { margin-top: 20px!important }*/
/*.mt30 { margin-top: 30px!important }*/
/*.mt40 { margin-top: 40px!important }*/
/*.mt50 { margin-top: 50px!important }*/
/*.mt60 { margin-top: 60px!important }*/
/*.mt70 { margin-top: 70px!important }*/
/*.mt80 { margin-top: 80px!important }*/
/*.mt90 { margin-top: 90px!important }*/
/*.mt100 { margin-top: 100px!important }*/
/*.ml10 { margin-left: 10px!important }*/
/*.ml20 { margin-left: 20px!important }*/
/*.ml30 { margin-left: 30px!important }*/
/*.mr10 { margin-right: 10px!important }*/
/*.mr20 { margin-right: 20px!important }*/
/*.mr30 { margin-right: 30px!important }*/
/*.mb10 { margin-bottom: 10px!important }*/
/*.mb20 { margin-bottom: 20px!important }*/
/*.mb30 { margin-bottom: 30px!important }*/
/*.text-center { text-align: center!important }*/
/*.text-left { text-align: left!important }*/
/*.text-right { text-align: right!important }*/
/*.paginacao { font-size: 16px; color: #000; text-align: center; margin-top: 20px; font-weight: 700 }*/
/*.paginacao a { font-size: 14px }*/
/*<div class="paginacao"><a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a></div>*/

.conteudo {width: 90%; margin-left: auto; margin-right: auto;}
@media only screen and (min-width: 1600px){
.conteudo {width: 1440px;}
}

/*------------------------------------------------------------------------*/
/*-------------------------------- ! PADRÃO !-----------------------------*/
/*------------------------------------------------------------------------*/
.rollover { opacity: 1;transition: all .3s linear }
.rollover:hover { opacity: .7 }
.margin0 { margin: 0!important }
body { font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 12px;background-color: var(--padrao); }
a { text-decoration: none; color: #666;transition: all .3s linear }
a:hover { text-decoration: underline; color: #333 }
i {transition: all .3s linear }
.imgfull {width: 100%; height: auto;}
:root {
	--padrao: #1E1E1E;
	--secundaria: #DC3161;
	--terciaria: #F4C892;
}
/*------------------------------------------------------------------------*/
/*-------------------------------- ! ESTRUTURA !--------------------------*/
/*------------------------------------------------------------------------*/
#topo {background-color: var(--padrao); padding: 40px 0px; height: 70px;}
#topo .logo { margin-left: 240px; float: left; width: 131px;}
#topo .logo span { display: block; text-indent: -50000px}
#topo .menu { float: right; text-align: right; width: 530px; margin-right: 240px;}
#topo .menu a {color: #E9E9E9; margin-top: 30px; display: inline-block; margin-left: 50px; font-size: 13px; font-family: "avenir_roman", sans-serif; padding-bottom: 4px; border-bottom: 1px solid var(--padrao);;}
#topo .menu a:first-child { margin-left: 0px;}
#topo .menu a:hover, #topo .menu a.ativado { text-decoration: none; border-color:#E9E9E9 }
@media only screen and (max-width: 1180px){
#topo .logo { margin-left: 40px;}
#topo .menu {margin-right: 40px;}
}
@media only screen and (max-width: 780px){
#topo { height: auto;}
#topo .logo, #topo .menu {margin-left: 0px; margin-right: 0px; text-align: center; float: none; width: 100%}
#topo .logo img { width: 150px}
}


#banner {max-height: 920px; overflow: hidden}
.banner_imagem {-webkit-animation: 1s ease 0s normal forwards 1 fadein;animation: 1s ease 0s normal forwards 1 fadein;}
.banner_texto{position: absolute; top:150px;-webkit-animation: 3s ease 0s normal forwards 1 fadein;animation: 3s ease 0s normal forwards 1 fadein;}

@keyframes fadein{0% { opacity:0; }66% { opacity:0; }100% { opacity:1; }}
@-webkit-keyframes fadein{0% { opacity:0; }66% { opacity:0; }100% { opacity:1; }}

/*#banner .banner_imagem {background: url("img/banner_n.jpg") center center no-repeat; height: 926px;}
#banner .banner_texto {background: url("img/banner_texto.jpg") center center no-repeat; height: 926px;}

#banner .banner_efeito { text-align: center; width: 70%; height: 430px; padding-top: 200px; color: #FFF; position: absolute; top: 300px; margin-left: 15%; margin-right: auto; font-family: "avenir_demi", sans-serif; font-size: 123px;}
#banner .banner_efeito span {color:var(--secundaria);}

.banner_efeito { width: 100%; text-align: center;white-space: nowrap; overflow: hidden; animation: type 4s steps(60, end); }
.banner_efeito strong {color:var(--secundaria);font-weight:400}
@keyframes type{ from { width: 0; } } 
@keyframes blink{to{opacity: .0;}}
::selection{background:var(--secundaria);}*/

.chamadas { background-color: var(--padrao); padding: 190px 0px 110px 0px;}
.chamada_esq, .chamada_dir { width: 685px; float: left;}
.chamada_dir {float: right;}
.chamadas a { display: block; height: 430px; line-height: 60px; font-size: 48px; color: #FFF; background-attachment: fixed;background-repeat: no-repeat;font-family: "din_bold", sans-serif;}
.chamada_esq a {padding: 60px 70px 0px 70px; background-image: url("img/chamada_esq.jpg");background-position: left;}
.chamada_dir a {padding: 140px 130px 0px 70px; height: 350px; background-image: url("img/chamada_dir.jpg");background-position: right;}
.chamadas a strong {color:var(--terciaria);}
.chamadas a span {display: inline-block; font-size: 22px; line-height: 55px; height: 55px; overflow: hidden;margin-top: 30px; border: 2px solid #FFF; border-radius: 10px; padding: 0px 35px; font-family: "avenir_book", sans-serif; background-color: transparent; transition: all .3s linear}
.chamadas a:hover {text-decoration: none;}
.chamadas a:hover span {background-color: #FFF; color:var(--padrao);}
.chamadas a:hover span {box-shadow: 0px 0px 14px 0px rgba(255,255,255,.9);}

.chamada_dir a span { margin-top: 60px;}

footer {text-align: center; color: #FFF; font-family: "din_bold", sans-serif; padding-bottom: 100px; margin-top: 150px;}
footer a { color: #FFF;}
footer a:hover { color:var(--secundaria); text-decoration: none}
footer span { display: inline-block; border-bottom: 1px solid #FFF; z-index: 20; position: relative}
footer .infos {text-align: right; position: relative; margin-top: -45px; z-index: 10}
footer .infos span {border: none}
footer .infos a { display: inline-block; margin-left: 22px;}
footer .infos i { font-size: 32px; line-height: 74px; vertical-align: middle; display: inline-block}
footer .infos img { vertical-align: middle; display: inline-block; margin-left: 120px;}

.inicial footer { margin-top: 0px;}
.quem-somos #banner_internas {background: url("img/quem-somos.jpg") top center no-repeat; height: 716px} 
.quem-somos #banner_internas .alinhamento { display: flex; align-items: center; height: 716px}
.quem-somos #banner_internas span { display: inline-block;font-size: 29px; border-bottom: 2px solid var(--terciaria); color: var(--terciaria); font-family: "din_bold", sans-serif;} 
.quem-somos #banner_internas strong { display: block;font-size: 126px; margin-top: 40px; line-height: 125px; color:#FFF;font-family: "avenir_black", sans-serif;} 

@media only screen and (max-width: 980px){
  .quem-somos #banner_internas span { font-size: 24px;} 
  .quem-somos #banner_internas strong {font-size: 80px;line-height: 80px;} 
}
@media only screen and (max-width: 780px){
  .quem-somos #banner_internas .container {width: 90%; margin-left: 5%;}
  .quem-somos #banner_internas span { font-size: 20px;} 
  .quem-somos #banner_internas strong {font-size: 70px;line-height: 70px;} 
}
@media only screen and (max-width: 580px){
  .quem-somos #banner_internas strong {font-size: 50px;line-height: 50px;} 
}

.chamada_1 { background: url("img/quem_1.jpg") top right no-repeat; margin-top: 115px;}
.chamada_1 .titulos { width: 400px; font-family: "avenir_black", sans-serif; color:var(--terciaria); font-size: 73px; line-height: 72px; padding-top: 30px; }
.chamada_1 .txt {width: 545px; padding-bottom: 30px; color: #FFF; font-size: 18px; line-height: 38px; font-family: "avenir_book", sans-serif; margin-top: 30px;}
.chamada_1 span {display: block;}
.chamada_2 { background: url("img/quem_2.jpg") top left no-repeat; margin-top: 170px;}
.chamada_2 .titulos { width: 590px; text-align: right; float: right;font-family: "avenir_black", sans-serif; color:var(--terciaria); font-size: 73px; line-height: 72px; padding-top: 30px; }
.chamada_2 .txt {width: 590px; text-align: right; float: right; padding-bottom: 30px; color: #FFF; font-size: 18px; line-height: 38px; font-family: "avenir_book", sans-serif; margin-top: 30px;}
.chamada_2 span {display: block;}

.destaque { padding-top: 165px; background: url("img/empreendimentos_destaque.jpg") top center no-repeat; height: 659px; text-align: center;}
.destaque h2 {text-transform: uppercase; color: #FFF; font-family: "avenir_black", sans-serif; text-align: center; font-size: 61px; line-height:98px;}
.destaque h2 span {display: inline-block; margin-right: 20px;}
.destaque h2 span img { vertical-align: middle;}
.destaque h3 {display: inline-block; margin-top: 120px; color: #000; padding: 0px 30px; background-color: var(--secundaria); font-size: 30px; font-family: "avenir_roman", sans-serif; border-radius: 50px; line-height: 68px;}
.destaque h3 strong {font-family: "avenir_black", sans-serif; font-weight: 400;}