form select.error,input.error,select.error,table.errorSummary{border:1px solid #C00}.checkbox .error{background-color:#C00;padding:10px}div.errorSummary,table.errorSummary{padding:7px 7px 12px;margin:0 0 20px;background:#FEE}div.errorSummary{border:2px solid #C00;font-size:.9em;font-size:12px}div.errorMessage{color:red;font-weight:700}div.errorSummary p{font-weight:700;margin:0;padding:5px}div.errorSummary ul{margin:0;padding:0 0 0 20px}div.errorSummary ul li{margin-bottom:5px}label.error{font-weight:700}form input.error,form textarea.error{border:1px solid #C00}
/*PERSONALIZAR*/
form input { border: 1px solid #000; border-radius: 15px; background-color: transparent;color: #000; padding:0px 30px; line-height: 50px; font-size: 20px;width:100%;box-sizing:border-box; font-family: "avenir_medium", sans-serif;transition: all .3s linear; margin-top: 30px; }
::-webkit-input-placeholder {color:#000;}
::-moz-placeholder {color:#000;}
form input:focus, form textarea:focus { border-color:var(--secundaria);}
form button { margin-top:30px; border: none; padding: 0px 40px; color: #FFF; float: right !important; display: inline-block; background: #000; transition: all .3s linear;font-family: "avenir_black", sans-serif; line-height:60px; border-radius: 10px; font-size: 22px;}
form button:hover { background:var(--secundaria); }
form label { font-size: 20px; color: #000; font-family: "avenir_medium", sans-serif; height:50px;}
form .col_dir label {float: left; width: 100px; text-align: right;}
form .col_dir label:first-child { width: 110px;}
form .radio {float: left; width: 30px; line-height: 52px; margin-top: 20px;}
.sucesso_msg{border:2px solid #333;padding:10px 0;margin:0 0 20px;background:#eee;font-size:14px;font-weight:700;text-align:center;}

.contato .formulario input { border-color: #FFF; color: #FFF;}
.contato .formulario ::-webkit-input-placeholder {color:#FFF;}
.contato .formulario ::-moz-placeholder {color:#FFF;}
.contato .formulario form button {color: #000; background: #FFF; }
.contato .formulario form button:hover { background:var(--secundaria); }

@media only screen and (max-width: 960px){
  form button,
  .contato .formulario form button { float: none !important}
}
@media only screen and (max-width: 580px){
  .limpa {clear: both; display: block}
  form .opcoes label:first-child { width: 100%; float: none;}
  form .col_dir label { text-align: left;}

form .radio {float: left; width: 30px; line-height: 52px; margin-top: 20px;}
  
}
